* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 70, 70);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mybox {
    position: relative;
    /* left: 28rem; */
    top: 3rem;
    background-color: black;
    width: 22rem;
    height: 28rem;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}

/* nav */
.nav {
    margin-top: 1rem;
}

#dark {
    /* display: inline-block; */
    cursor: pointer;
    margin-left: 15rem;
}

#light {
    /* display: inline-block; */
    cursor: pointer;
    margin-left: 2rem;
}

/* mid */
/* bot */
.bot {
    /* position: relative;
    top: 34; */
    width: 101%;
    margin-top: 9.1rem;
    margin-left: -2px;
    background-color: #1f2024;
    height: 60%;
    border: 2px solid #1f2024;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* grid-auto-columns: 100px; */
}

.bot__inner {
    margin-top: 0.7rem;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.item {
    display: flex;
    width: 3rem;
    height: 2rem;
    border: 0.5px solid #f0f0f419;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    /* box-shadow: white; */
    /* text-align: center; */
}

#ac {
    color: cornflowerblue;
    /* color:rgb(231, 229, 229); */
}

#c {
    color: cornflowerblue;
}

#mod {
    color: rgb(139, 172, 233);
}

#divide {
    color: chocolate;
}

#mul {
    color: chocolate;
}

#minus {
    color: chocolate;
}

#plus {
    color: chocolate;
}

#equal {
    background-color: chocolate;
    color: white;
}

#zero {
    width: 8.8rem;
    grid-column: span 2;
}

.mid {
    position: relative;
    top: 9rem;
}

.expression {
    height: 10%;
    /* border: 1px solid white; */
    color: chocolate;
    text-align: end;
    /* background-color: blueviolet; */
    font-size: 1.2778rem;
}
.expression p{
    height: 1.7rem;
}

.result p{
    height: 2.7rem;
}
.result {
    margin-top: 5px;
    height: 20%;
    /* border: 1px solid white; */
    color: white;
    text-align: end;
    font-size: 2rem;
    /* background-color:chartreuse; */
}